.header-items{
    list-style: none;
    margin: 5px;
    padding:0 7px;
    font-size: 20px;
}
.nav-items{
    position:sticky;
    top:0;
    overflow: hidden;
}
.header-items-hash{
    font-size: 20px;
    padding: 3px 7px;
}
.menu-items a{
    text-decoration: none;
    color:white;
    display: inline-block;
   
}
.menu-items a:hover{
    /* background-color: #ff9f1c; */
    color:#0DCAF0;
}